#include "resource.h"
100 DIALOGEX MOVEABLE PURE LOADONCALL DISCARDABLE 10, 10, 305, 87
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE
CAPTION "Rainbow Synth VSTi V2.0 Open-Source Keymaker (C) Lorian / UNION"
FONT 8, "Verdana"
BEGIN
    GROUPBOX        "",8,6,5,293,53
    LTEXT           "Your &Name:",53,45,19,39,11
    EDITTEXT        3001,87,18,157,12,ES_AUTOHSCROLL
    LTEXT           "&Unlock Key:",52,44,37,41,11
    EDITTEXT        3002,87,36,157,12,ES_AUTOHSCROLL | ES_READONLY
    GROUPBOX        "",54,6,57,293,24
    PUSHBUTTON      "&Exit",3004,149,65,95,12
    PUSHBUTTON      "Import Key into &Registry",3003,44,65,95,12
END
